<ngx-extended-pdf-viewer [src]="pdfSource"
                         [zoom]="'page-fit'"
                         [height]="'100%'"
                         [textLayer]="true"
                         [sidebarVisible]="false"
                         [showBookModeButton]="false"
                         [showDownloadButton]="false"
                         [showDrawEditor]="false"
                         [showHandToolButton]="false"
                         [showHighlightEditor]="false"
                         [showPrintButton]="false"
                         [showPropertiesButton]="false"
                         [showSecondaryToolbarButton]="false"
                         [showSidebarButton]="false"
                         [showStampEditor]="false"
                         [showTextEditor]="false"
                         (pdfLoaded)="handleLoadComplete()"></ngx-extended-pdf-viewer>